<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Магазин{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<header>
    <h1 class="name_site">шатапчикен</h1>

    <ul class="nav">
        <li class="nav_link"><a href="{{url_for('main.index')}}">Главная</a></li>
        <li class="nav_link"><a href="{{url_for('main.categories')}}">Категории</a></li>
    </ul>

    <form class="search_btn" action="{{ url_for('search_.search_page') }}" method="get">
        <input class="search_txt" name="query" type="search" placeholder="Поиск товаров...">
        <button class="search_btn_btn" type="submit">Найти</button>
    </form>
</header>


<main>
    <h2 class="name_page">{% block name_page %}{% endblock %}</h2>
    {% block card_day %}{% endblock %}

    {% block content %}{% endblock %}
</main>

<footer>
    <div>
        <p>© москивичи 2025</p>
        <div>
            <a href="{{url_for('main.about')}}" class="">О нас</a>
        </div>
    </div>
</footer>

</body>
</html>
