{% extends 'base.html' %}

{% block title %}Категории{% endblock %}
{% block name_page %}Категории{% endblock %}

{% block content %}
<div class="cards_container">
  {% for category in categories %}
    <div class="card_day">
      <h5 class="card_title">{{ category.name }}</h5>

      {% if category.image %}
        <img src="{{ url_for('static', filename=category.image) }}" class="card_img_center" alt="{{ category.name }}">
      {% else %}
        <img src="{{ url_for('static', filename='img/no_image.jpg') }}" class="card_img_center" alt="no image">
      {% endif %}

      <p>
        <a href="{{ url_for('main.category', category_id=category.id) }}" class="card_link">
          Смотреть товары →
        </a>
      </p>
    </div>
  {% endfor %}
</div>
{% endblock %}
