{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block name_page %}
Товары дня
{% endblock %}

{% block card_day %}
<div class="cards_container">
  {% for card in cards %}
    <div class="card_day">
      <h5 class="card_title">{{ card.name }}</h5>

      {% if card.category and card.category.image %}
        <img src="{{ url_for('static', filename=card.category.image) }}" class="card_img_center" alt="{{ card.category.name }}">
      {% else %}
        <img src="{{ url_for('static', filename='img/no_image.jpg') }}" class="card_img_center" alt="no image">
      {% endif %}

      <p class="card_price">{{ card.price }}₽ — {{ card.store.name }}</p>


      <p>
        <a href="{{ url_for('main.category', category_id=card.category.id) }}" class="card_link">
          Перейти в категорию
        </a>
      </p>
    </div>
  {% endfor %}
</div>
{% endblock %}
